@import '../../../styles/common.scss';

.infoModal {
    @include modal;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

    .titleContainer {
        width: 100%;
    }

    .myInfo {
        width: 100%;
        margin-top: 30px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;

        .img {
            width: 150px;
            height: 150px;
            background-color: blue;
            border-radius: 50%;
        }
    }

    .horiLine {
        margin: 20px 0;
        width: 90%;
        height: 3px;
        background-color: gray;
    }

    .careerContainer {
        width: 100%;
        
        .careerTitle {
            margin-left: 10px;
            width: 100px;
            @include linkItem;
        }

        .careerText{
            width: 90%;
            margin: 10px 0 0 10px;
            display: flex;

            .period {
                width: 50%;
                padding: 5px;
                background-color: lightgray;
            }

            .company {
                width: 50%;
                padding: 5px;
                background-color: whitesmoke;
            }
        }
    }

    .footer {
        position: absolute;
        bottom: 10px;

        &:hover {
            font-weight: bold;
            text-decoration: underline;
        }
    }
}