@import '../../../styles/common.scss';

.infoModal {
    @include modal;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

    .titleContainer {
        width: 100%;
    }

    .myInfo {
        width: 100%;
        margin-top: 30px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    .horiLine {
        margin: 20px 0;
        width: 90%;
        height: 3px;
        background-color: white;
    }

    .careerContainer {
        width: 100%;
        
        .careerTitle {
            margin-left: 10px;
            @include linkItem;
        }

        .careerText{
            width: 90%;
            margin: 10px 0 0 10px;
            display: flex;
            color: black;

            .period {
                width: 50%;
                padding: 5px;
                background-color: gray;
                text-align: start;
            }

            .company {
                width: 50%;
                padding: 5px;
                text-align: start;
                background-color: rgb(214, 214, 214);
            }
        }
    }

    .footer {
        position: absolute;
        bottom: 10px;

        &:hover {
            font-weight: bold;
            text-decoration: underline;
        }
    }

    @include mobile {
        .careerContainer {
            font-size: 13px;
        }

        .footer {
            font-size: 13px;
        }
    }
}