.infoItem {
    display: flex;
    font-size: 14px;
    margin-top: 5px;
    color: black;
    
    .infoTitle {
        width: 70px;
        padding: 5px;
        font-weight: bold;
        background-color: rgb(161, 161, 161);
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
    }

    .infoText {
        text-align: start;
        width: 150px;
        padding: 5px;
        background-color: rgb(214, 214, 214);
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
    }
}