@import '../../styles/common.scss';

.companyItem {
    margin-bottom: 30px;

    .title {
        margin-top: 20px;
        font-size: 20px;
        font-weight: bold;
    }

    .main {
        display: flex;
        align-items: center;
        height: 400px;
        margin-top: 10px;
        color: black;

        .info {
            width: 30%;
            height: 100%;
            background-color: lightgray;
            padding: 3px;

            .items {
                display: flex;
                font-size: 14px;
                margin-top: 10px;

                .itemTitle {
                    font-weight: bold;
                    width: 100px;
                    padding: 3px;
                }

                .itemText {
                    display: flex;
                    flex-direction: column;
                }
            }
        }

        .content {
            width: 70%;
            height: 100%;
            padding: 10px;
            font-size: 14px;
            background-color: white;

            .contentTitle {
                font-weight: bold;
            }

            .contentItem {
                margin-top: 5px;
            }
        }
    }

    @include mobile {

        .title {
            font-size: 15px;
        }

        .main {
            .info {
                .items {
                    font-size: 13px;
                    flex-direction: column;
                }
            }
            
            .content {
                font-size: 12px;
            }
        }

    }
}