@import '../../styles/common.scss';

.company {
    width: 700px;

    .title {
        width: 100%;

        .titleItem {
            width: 120px;
            @include linkItem;
        }
    }

    @include mobile {
        width: 100%;
        margin-left: 20px;

        .title {
            .titleItem {
                width: 100px;
            }
        }
    }
}