.PModalItem {
  width: 70%;
  margin-top: 80px;
  cursor: pointer;
  transition: all 0.2s;

  .title {
    font-weight: bold;
    font-size: 6vw;
  }

  .content {
    margin-top: 10px;
    font-size: 1vw;
  }

  &:hover {
    transform: translateX(10px);
  }
}
