@import '../../styles/common.scss';

.profile {
    background-color: whitesmoke;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;

    .title {
        margin-top: 350px;
        font-size: 30px;
        width: 500px;
        display: flex;
        align-items: center;
        justify-content: center;
        animation: titleAni 2s ease-out;
    }

    .mouseItem {
        position: absolute;
        width: 10px;
        height: 10px;
        border-radius: 90%;
        animation: mouseColor 8s 1s linear infinite;
    }

    @include mobile {
        .title {
            margin-top: 200px;
            width: 300px;
            font-size: 20px;
            animation: titleMobileAni 2s ease-out;
        }
    }

    @keyframes titleAni {
        from {
            color: white;
            opacity: 0;
            font-size: 10px;
        };

        to {
            color: black;
            opacity: 1;
            font-size: 30px;
        }
    }

    @keyframes titleMobileAni {
        from {
            color: white;
            opacity: 0;
            font-size: 0px;
        };

        to {
            color: black;
            opacity: 1;
            font-size: 20px;
        }
    }

    @keyframes mouseColor {
        0% {
            background-color: yellow;
        };

        20% {
            background-color: orange;
        }

        40% {
            background-color: red;
        }

        60% {
            background-color: blue;
        }

        80% {
            background-color: green;
        }

        100% {
            background-color: purple;
        }
    }
}