@import '../../styles/common.scss';

.profileItems {
    width: 100%;
    height: 100%;
    position: relative;
    
    .item {
        position: absolute;
        font-size: 20px;
        background-color: white;
        color: gray;
        width: 150px;
        height: 150px;

        &:first-child {
            top: 100px;
            left: 150px;
        }

        &:nth-child(2) {
            top: 200px;
            left: 500px;
        }

        &:last-child {
            top: 400px;
            left: 350px;
        }
    }
}