@import "../../styles/common.scss";
@import "../../styles/func.scss";

.profile {
  width: 100vw;
  height: 100vh;
  color: $textColor;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
  background-color: $backgroundColor;

  .icon {
    width: get-vw(300px);
    border-radius: 50%;
    padding: 10px;
    background-color: white;
    border: 10px solid skyblue;
  }

  .info,
  .portfolio,
  .contact {
    position: absolute;
    cursor: pointer;
    transition: all 0.2s;

    &:hover {
      transform: scale(1.1);
    }
  }

  .info {
    top: 10%;
    left: 15%;
    width: get-vw(200px);
  }

  .portfolio {
    top: 10%;
    right: 10%;
    width: get-vw(250px);
  }

  .contact {
    bottom: 10%;
    right: 10%;
    width: get-vw(250px);
  }

  .text {
    font-weight: bold;
    font-size: 20px;
    color: $textColor;
    position: absolute;
    left: 100px;
    bottom: 100px;
  }
}
