@import "../../styles/common.scss";

.profile {
  width: 100vw;
  height: 100vh;
  color: $textColor;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
  background-color: $backgroundColor;

  .icon {
    border-radius: 50%;
    padding: 10px;
    background-color: white;
  }

  .info,
  .portfolio,
  .contact {
    position: absolute;
    cursor: pointer;
    transition: all 0.2s;

    &:hover {
      transform: scale(1.1);
    }
  }

  .info {
    top: 10%;
    left: 20%;
    width: 300px;
  }

  .portfolio {
    top: 10%;
    right: 15%;
    width: 400px;
    height: 300px;
  }

  .contact {
    bottom: 10%;
    right: 15%;
    width: 400px;
    height: 300px;
  }

  .text {
    font-weight: bold;
    font-size: 20px;
    color: $textColor;
    position: absolute;
    left: 100px;
    bottom: 100px;
  }
}
