.portFolioModalBtn {
    display: flex;
    margin-top: 30px;

    .item {
        font-size: 13px;
        padding: 10px;
        border: 2px solid lightgray;
        background-color: white;
        border-radius: 8px;
        color: black;

        &:hover {
            cursor: pointer;
            background-color: whitesmoke;
        }
    }
}