.portFolioSlide {
    width: 800px;
    
    .container {
        overflow: hidden;
        width: 500px;
        background-color: beige;
        height: 50px;
        display: flex;
        list-style: none;

        li {
            width: 100px;
            height: 50px;
        }
    }
}