.portFolioSlide {
    width: 800px;
    
    .container {
        display: flex;
        overflow: hidden;
        width: 800px;
        background-color: beige;
        height: 50px;

        div {
            width: 100px;
            height: 50px;
        }
    }
}