.portFolioSlide {
    display: flex;
    align-items: center;
    margin-top: 20px;
    border-radius: 20px;
    
    .slider {
        overflow: hidden;
        background-color: beige;
        width: 800px;
        height: 700px;
        border-radius: 20px;

        .container {
            display: flex;
            width: 2400px;
            height: 700px;
            transition: 1s;

            div {
                width: 800px;
                height: 700px;
            }
        }

    }
}