@import "../../../styles/common.scss";

.portFolioModal {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 100vw;
  display: flex;
  background-color: $backgroundColor;
  color: $textColor;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  animation: modalAnim 1s forwards;

  .homeBtn {
    position: absolute;
    top: 50px;
    right: 50px;
    z-index: 1000;

    .img {
      cursor: pointer;
      width: 30px;
      height: 30px;
    }
  }

  @keyframes modalAnim {
    0% {
      left: 100vw;
    }

    100% {
      left: 0;
    }
  }
}
