@import '../../styles/common.scss';

.portFolioImage {
    margin-top: 20px;
    width: 60%;
    height: 100%;
    
    .imgContainer {
        width: 100%;
        height: 600px;
        background-color: blue;
    }

    .btns {
        margin-top: 10px;
        width: 100%;
        display: flex;
        justify-content: center;

        div {
            margin-right: 10px;
            width: 8px;
            height: 8px;
            background-color: lightgray;
            border-radius: 50%;

            &:hover {
                background-color: white;
                transform: scale(1.3);
                cursor: pointer;
            }
        }
    }

    @include mobile {
        width: 90%;
    }
}