.profileModal {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: -100vh;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: modalAnim 1s forwards;

    .back {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0, 0.7);
        z-index: 199;

        &:hover {
            cursor: pointer;
        }
    }

    @keyframes modalAnim {
        0% {
            top: -100vh;
        }

        90% {
            top: 10px;
        }

        100% {
            top: 0;
        }
    }
}