.portFolioBtns {
    display: flex;
    margin-top: 50px;

    .btn {
        padding: 10px;
        border: 1px solid black;
        border-radius: 8px;

        &:hover {
            cursor: pointer;
        }
    }
}