@import '../../styles/common.scss';

.portFolioBody {
    width: 800px;
    height: 800px;
    background-color: white;
    margin-top: 30px;
    
    @include mobile {
        margin-top: 20px;
        width: 90vw;
        height: 80%;
    }
}
