@import "../../../styles/common.scss";

.infoModal {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: -100vh;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: $textColor;
  background-color: $backgroundColor;
  overflow-y: auto;
  animation: modalAnim 1s forwards;
  transition: all 0.5s;

  .homeBtn {
    width: 700px;
    z-index: 1000;
    position: absolute;

    .img {
      cursor: pointer;
      position: absolute;
      top: 30px;
      right: 0;
      width: 30px;
      height: 30px;
    }
  }

  @keyframes modalAnim {
    0% {
      top: -100vh;
    }

    90% {
      top: 10px;
    }

    100% {
      top: 0;
    }
  }

  @include mobile {
    .homeBtn {
      width: 90%;
    }
  }
}
