@mixin linkItem {
    padding: 3px;
    background-color: rgb(214, 214, 214);
    color: rgb(114, 114, 114);
    border: 2px solid rgb(121, 121, 121);
    border-radius: 8px;
}

@mixin modal {
    width: 500px;
    height: 600px;
    background-color: white;
    border-radius: 8px;
    z-index: 200;
    border: 3px solid $borderColor;

    .modalTitle {
        margin-left: 10px;
        margin-top: 20px;
        font-size: 20px;
        padding: 3px;
        font-weight: bold;
        background-color: rgb(214, 214, 214);
        color: rgb(114, 114, 114);
        border: 2px solid rgb(121, 121, 121);
        border-radius: 8px;
    }

    @media (max-width: 767px){ 
        width: 100%;
    }
}

@mixin pageTitle {
    font-weight: bold;
    font-size: 30px;
}

@mixin pageMobileTitle {
    font-weight: bold;
    font-size: 20px;
}

@mixin slideItem {
    border-radius: 4px;
    background-color: #444444;
    border: 1px solid #7a7a7a;
}

@mixin mobile{
    @media (max-width: 767px){ 
        @content;
    }
}

$borderColor: rgb(74, 24, 255);
$textColor: rgb(13, 0, 85);;