@mixin linkItem {
    padding: 3px;
    background-color: rgb(214, 214, 214);
    color: rgb(114, 114, 114);
    border: 2px solid rgb(121, 121, 121);
    border-radius: 8px;
}

@mixin modal {
    width: 500px;
    height: 600px;
    background-color: white;
    border-radius: 8px;
    z-index: 1;
    border: 3px solid $borderColor;

    .modalTitle {
        margin-left: 10px;
        width: 110px;
        margin-top: 20px;
        font-size: 20px;
        padding: 3px;
        background-color: rgb(214, 214, 214);
        color: rgb(114, 114, 114);
        border: 2px solid rgb(121, 121, 121);
        border-radius: 8px;
    }

    @media (max-width: 767px){ 
        width: 100%;
    }
}

@mixin pageTitle {
    font-weight: bold;
    font-size: 30px;
    width: 120px;
    padding: 3px;
    background-color: rgb(214, 214, 214);
    color: rgb(114, 114, 114);
    border: 2px solid rgb(121, 121, 121);
    border-radius: 8px;
}

@mixin pageMobileTitle {
    font-weight: bold;
    font-size: 20px;
    width: 100px;
    padding: 3px;
    background-color: rgb(214, 214, 214);
    color: rgb(114, 114, 114);
    border: 2px solid rgb(121, 121, 121);
    border-radius: 8px;
}

@mixin mobile{
    @media (max-width: 767px){ 
        @content;
    }
}

$borderColor: rgb(121, 121, 121);
$textColor: rgb(25, 163, 25);