html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  overflow-x: hidden;
  background-color: black;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.bubble {
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 90%;
  background-color: gray;
  animation: bubbleAnim 1s forwards;
}

@keyframes modalCloseAnim {
  0% {
      top: 0;
  }

  100% {
      top: -100vh;
  }
}

@keyframes bubbleAnim {
  from {
      opacity: 1;
      scale: 0;
  }

  to {
      opacity: 0;
      scale: 1;
  }
}