.container {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.infoPage,
.portFolioPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    background-color: rgb(82, 82, 82);
}

.infoPage {
    width: 100%;
    height: 100%;
}

.portFolioPage {
    width: 100%;
    height: 100%;
}